<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <title>Chatbot - Supyourself</title>
    <meta name="author" content="Supyourself">
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=100">
  </head>
  
  <body>
    <div class="chatbot">
      
      <header class="chat-header">
        <h1>MY LLM</h1>
      </header>
      
      <div class="header-sub-text">
        <p>Copyright © 2026 - Created by Supyourself, financed by Naspi <a class="purple">❤</a></p>
      </div>

      <div id="messages-container"></div>
      
    <form id="message-form">
      <button type="button" id="mic-btn">🎤</button> 
    
      <textarea id="message-input" placeholder="Parla con l'oracolo..." rows="1"></textarea>
    
      <button type="submit">➤</button> 
    </form>
      
      
    </div>

    <script src="{{ url_for('static', filename='script.js') }}?v=100"></script>
  </body>
</html>